@model SelectList
@{
    ViewBag.Title = "Annual Sales";
}
<h2>Annual Sales Report</h2>
<div>
    <select name="year" asp-items="@Model" class="form-control">
        <option value="">Select...</option>
    </select>
</div>
