@model SelectList
@{
    ViewBag.Title = "Annual Sales";
}

<div class="bg-light py-2 mb-2">
    <h2 class="text-center">Annual Sales Report</h2>
</div>

<div class="row mb-3">
    <div class="col-2">
        <select name="year" asp-items="@Model" class="form-control">
            <option value="">Select...</option>
        </select>
    </div>
</div>

<div>
    <svg width="100%" height="600px" class="border border-primary rounded p-2"></svg>
</div>

@section scripts {
    <script type="module">
        import * as d3 from "https://cdn.jsdelivr.net/npm/d3@7/+esm";

    </script>
}