﻿@{
    ViewData["Title"] = "Test";
}

<h1>Test</h1>

<p>ViewBag.id2: @ViewBag.id</p>
<p>ViewBag.searchText: @ViewBag.searchText</p>

<form method="post" action="/Home/Test">
    <input type="text" name="text" />
    <button type="submit">Save</button>
</form>